body .form-control {
    background-color: transparent;
    color: white;
    
}
.contact-img {
    
}


.Heading {
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    font-style: italic;
    font-weight: bold;
    font-size: x-large;
    color: wheat;
    font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
}
.txt {
    width:100% ;
    height: 30px;
    border: none;
    border-bottom: 2px solid black;
    margin-bottom: 15px;
    background: transparent;
    
}

.lbl {
    font-style: italic;
    font-family:'Cambria, Cochin', Georgia, Times, 'Times New Roman', serif;
}

textarea {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 2px solid black;  
    margin-top: 10px;
    background: transparent;

}

.submit-btn {
    border-radius: 30px;
    padding: 10px;
    margin-top: 10px;
    width: 100px;
    background-color: black;
    color: aliceblue;
    box-shadow: inset;
}