/* styles.css */
* {
  box-sizing: 0;
  margin: 0%;

}

body {
  
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  /*background-image: url("/static/Images/bg1.jpg");*/
  background: linear-gradient(to right, #58433e, #5e4837);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

/* -----------------------Header---------------------------*/

header {
  background-color: transparent;
  color: white;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-div {
  display: flex;
  align-items: center;
}
.logo {
  height: 70px;
  width: 150px;
} 

h1 {
  margin: 0;
  margin-left: 10px;
  /* Adjust the margin to provide space between logo and heading */
}

nav {
  margin-top: 10px;
  /* Adjust margin for space between header and navigation on desktop */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: white;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 10px;
  }

  h1 {
    margin-left: 0;
  }

  nav {
    margin-top: 20px;
  }
}
/* -----------------------Body---------------------------*/

.main-contain {
  width: 100%;
}

/* -----------------------Footer---------------------------*/

footer {
  background-color: transparent;
  color:black;
  padding: 20px;
}

.footer-container {
  display: flex;
  flex-direction: row;
}

.footer-cols {
  border-top: 5px solid white;
  width: 25%;
  padding: 10px;
}

.footer-contain-header {
  padding: 10px;
  margin: 5px;
  text-align: center;
  font-family: system-ui, '-apple-system, BlinkMacSystemFont', 'Segoe UI', 'Roboto, Oxygen, Ubuntu, Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: large;
  font-style: italic;
  
}

.Company-about {
  text-align: justify;
  padding: 5px;

}
.footer-service-list {
  list-style-type: none;
  padding-left: 20px;
  
}

.footer-service-list li {
  margin: 10px;
  
}
.footer-service-con {
  list-style-type: none;
  padding-left: 20px;
}
.footer-service-con label {
  font-size: large;
  font-weight: bold;
  
}

.footer-service-con li {
  padding-left: 10px;
  margin-top: 10px;
  
}

/* Your existing CSS */

.icon-social-media {
  /* Set the width and height according to your design */
  width: 40px;
  height: 40px;
 

  /* Add any other styling you need */
  border-radius: 50%; /* Makes the icon circular (adjust as needed) */
  background-color: #3b5998; /* Example background color for Facebook */
   /* Ensures inline positioning */
}

/* Additional styling for hover effect (optional) */
.icon-social-media:hover {
  opacity: 0.8; /* Reduce opacity on hover */
}

  




/* Responsive Styles */
@media only screen and (max-width: 600px) {
  .footer-container {
    flex-direction: column;
  }

  .social-media img {
    margin-right: 0;
    margin-bottom: 10px;
  }
}






/*----------------------Contact----------------------*/

