body {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  /*background-image: url("/static/Images/bg1.jpg");*/
  background: linear-gradient(to right, #6c1777, #a71f6a);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

/* -----------------------Header---------------------------*/

.header-contain {
  background-color: #6c1777;
  border-bottom: 1px solid white;
}

header {
  background-color: transparent;
  color: white;  
  
}

.logo {
  height: 70px;
  width: 150px;
 
}

nav {
  margin-top: 10px;
  
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: white;
}
nav a:hover {
  color:red;
}

/* ---------------------------------------------------------------------- */

h1.wlc-heading {
  color: white;
  font-style: italic;
  animation: fadeIn 6s ease-in;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}




@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 10px;
  }

  h1 {
    margin-left: 0;
  }

  nav {
    margin-top: 20px;
  }
}


/* -----------------------UserForms---------------------------*/

.form {
  padding: 10px;
  
    
}

.form h2 {
  color: white;
}



.loginForm {
  display: none;
}


/* -----------------------Footer---------------------------*/

footer {
  background-color: #6c1777;
  color: wheat;
  padding: 20px;
  border-top:2px solid white ;
  
}



/* Your existing CSS */

.icon-social-media {
  /* Set the width and height according to your design */
  width: 40px;
  height: 40px;


  /* Add any other styling you need */
  border-radius: 50%;
  /* Makes the icon circular (adjust as needed) */
  background-color: #3b5998;
  /* Example background color for Facebook */
  /* Ensures inline positioning */
}

/* Additional styling for hover effect (optional) */
.icon-social-media:hover {
  opacity: 0.8;
  /* Reduce opacity on hover */
}






/* Responsive Styles */
@media only screen and (max-width: 600px) {
  .footer-container {
    flex-direction: column;
  }

  .social-media img {
    margin-right: 0;
    margin-bottom: 10px;
  }
}



/*---------------------- BootStrap ----------------------*/
.footer_name {
  font-size:medium;
  color: white;
  font-weight: bold;
  
  font-style: italic;

}
