
<footer>
    <div class="footer-container">
        <div class="footer-cols" id="Company-details">
        <div class="footer-contain-header"> Branded System </div>
        <p class="Company-about">IT consulting and services encompass expert guidance and solutions
             for organizations in navigating the complex landscape of technology. 
             From strategic planning and system integration to cybersecurity and cloud solutions,
              IT consultants provide tailored support, ensuring businesses leverage 
              cutting-edge technologies to enhance efficiency, security, and overall performance.</p>
        </div>
        <div class="footer-cols" id="Service-details">
            <div class="footer-contain-header"> Service </div>
            <ul class="footer-service-list">
                <li> Hardware </li>
                <li> Software Solution </li>
                <li> Consulting </li>
                <li> Cloud Service </li>
            </ul>


        </div>       
        <div class="footer-cols" id="contact-details">
            <div class="footer-contain-header"> Useful Link</div>
            
        </div>
        <div class="footer-cols" id="address">
            <div class="footer-contain-header"> Contact info </div>
            <ul class="footer-service-con">
                <li> <label> Email : <label> </li>
                <li> info@brandedsystem.com </li>
                <li> <label> Mobile No:  </label></li>
                <li> 123466789 </li>
            </ul>
            
        </div>
        <div class="social-media">
            
        </div>
    </div>
</footer>

</body>

</html>